{{> head}}
{{> navbar}}

<div class="col-8">
    <h1>Hola Ivan</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium officia tempore odit totam suscipit temporibus debitis deserunt omnis. Dolorem, consectetur maiores totam eaque aperiam eos error. Odio beatae doloremque iste?</p>
</div>
<di class="col-4">
    <img src="/assets/img/artworks-000187236648-uhf53p-t500x500.jpg" class="img-thumbnail"  alt="">
</di>

{{> footer}}